/* :root {
  --background: #f7f6f2;
  --secondary: #5f634f;
  --note1: #fbf2c0;
  --note2: #bbbdf6;
  --note3: #dbefbc;
  --note4: #d7907b;
  --accent: #1d3461;
} */

:root {
  --background: #f7f6f2;
  /* --secondary: #694f5d; */
  --note1: #bbcef6;
  --note2: #efc7c2;
  --note3: #ffe5d4;
  --note4: #bfd3c1;
  /* --accent: #68a691; */
}

/* Body */
body {
  background-color: var(--background);
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: var(--background);
  border-bottom: solid 1px lightgray;
}

.navbar-brand {
  font-size: xx-large;
}

.navbar-collapse {
  text-align: left;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

/* Cards */
.create-btn {
  margin-top: 1.5em;
}

.modal-body {
  text-align: left;
}

.card {
  margin: 1em;
}

.card-body {
  background-color: var(--note1);
  text-align: left;
}
