:root {
  --background: #f7f6f2;
  --secondary: #5f634f;
  --note1: #fbf2c0;
  --note2: #bbbdf6;
  --note3: #dbefbc;
  --note4: #d7907b;
  --accent: #1d3461;
}

body {
  background-color: var(--background);
  padding: 1.5em;
}

.navbar {
  background-color: var(--secondary);
  margin: -1.5em;
}

.card-body {
  background-color: var(--note3);
}

.create-btn {
  margin: 2.5em;
}
